{% extends 'dashboardPage/dashboard.html' %}
{% load static %}
{% block content %}
{% block welcome %}
{% endblock welcome %}

<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <form action="." method="POST" class="form-horizontal" role="form">
    {% csrf_token %}
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img id="avatarimage" src="{% static request.user.personal.avatar %}" class="avatar img-circle" height="100" width="100">
        <h6>Select a different avatar...</h6>
        <select name="avatar" id="avatar" class="form-control">
          <option>Male1</option>
          <option>Male2</option>
          <option>Male3</option>
          <option>Female1</option>
          <option>Female2</option>
        </select>
        <!--input type="file" class="form-control"-->
      </div>
    </div>
    
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      
        <h4>Personal info</h4>
        <hr>
        <div class="form-group">
          <label class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input class="form-control" name="name" type="text" value="{{request.user.student.name}}" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
           <input class="form-control" name="email" type="email" value="{{request.user.student.email}}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">USN:</label>
          <div class="col-lg-8">
            <input class="form-control" name="usn" type="text" value="{{request.user.student.usn}}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Sex:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="sex" id="sex" class="form-control">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Link should start with <strong>'https://'</strong>. Clear the field if you don't have a link/website
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Website:<small style="color: rgb(139, 35, 78);">  (Optional)</small></label>
          <div class="col-lg-8">
            <input class="form-control" name="website" type="text" value="{{request.user.personal.website}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Githhub Link:<small style="color: rgb(139, 35, 78);">  (Optional)</small></label>
          <div class="col-lg-8">
            <input class="form-control" name="github" type="text" value="{{request.user.personal.github}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">LinkedIn:<small style="color: rgb(139, 35, 78);">  (Optional)</small></label>
          <div class="col-lg-8">
            <input class="form-control" name="linked" type="text" value="{{request.user.personal.linked}}" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Bio:<small style="color: rgb(139, 35, 78);">  (Optional)</small></label>
          <div class="col-lg-8">
            <input class="form-control" name="bio" type="text" value="{{request.user.personal.bio}}">
          </div>
        </div>

        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Select <strong>6 subjects</strong> 
        </div>
        <h4>Academic info</h4>
        <hr>
        <div class="form-group">
          <label class="col-lg-3 control-label">Branch:</label>
          <div class="col-lg-8">
            <div class="ui-select">
                <select name="branch" id="branch" class="form-control input-lg" required>
                  <option value="">Select Branch</option>
                 </select>
              </select>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Semester:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="semester" id="semester" class="form-control input-lg" required>
                <option value="">Select Semester</option>
               </select>
                 </select>
              </select>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Course 1:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="course1" id="course1" class="form-control input-lg" required>
                <option value="">Select Course 1</option>
               </select>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Course 2:</label>
          <div class="col-lg-8">
            <div class="ui-select">
                <select name="course2" id="course2" class="form-control input-lg" required>
                <option value="">Select Course 2</option>
                 </select>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Course 3:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="course3" id="course3" class="form-control input-lg" required>
                <option value="">Select Course 3</option>
               </select>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Course 4:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="course4" id="course4" class="form-control input-lg" required>
                <option value="">Select Course 4</option>
               </select>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Course 5:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="course5" id="course5" class="form-control input-lg" required>
                <option value="">Select Course 5</option>
               </select>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Course 6:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select name="course6" id="course6" class="form-control input-lg" required>
                <option value="">Select Course 6</option>
               </select>
              </select>
            </div>
          </div>
        </div>

        <!--For password use type="password"-->
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript" src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){

 load_json_data('branch');

 function load_json_data(id, parent_id)
 {
  var html_code = '';
  $.getJSON("{% static 'dist/js/branch_sem_course.json' %}", function(data){

   html_code += '<option value="">Select '+id+'</option>';
   $.each(data, function(key, value){
    if(id == 'branch')
    {
     if(value.parent_id == '0')
     {
      html_code += '<option value="'+value.id+'">'+value.name+'</option>';
     }
    }
    else
    {
     if(value.parent_id == parent_id)
     {
      html_code += '<option value="'+value.id+'">'+value.name+'</option>';
     }
    }
   });
   $('#'+id).html(html_code);
  });

 }

 $(document).on('change', '#branch', function(){
  var branch_id = $(this).val();
  if(branch_id != '')
  {
   load_json_data('semester', branch_id);
  }
  else
  {
   $('#semester').html('<option value="">Select semester</option>');
   $('#course1').html('<option value="">Select course</option>');
   $('#course2').html('<option value="">Select course</option>');
   $('#course3').html('<option value="">Select course</option>');
   $('#course4').html('<option value="">Select course</option>');
   $('#course5').html('<option value="">Select course</option>');
   $('#course6').html('<option value="">Select course</option>');
  }
 });
 $(document).on('change', '#semester', function(){
  var semester_id = $(this).val();
  if(semester_id != '')
  {
   load_json_data('course1',semester_id);
   load_json_data('course2',semester_id);
   load_json_data('course3',semester_id);
   load_json_data('course4',semester_id);
   load_json_data('course5',semester_id);
   load_json_data('course6',semester_id);
  }
  else
  {
   $('#course1').html('<option value="">Select course 1</option>');
   $('#course2').html('<option value="">Select course 2</option>');
   $('#course3').html('<option value="">Select course 3</option>');
   $('#course4').html('<option value="">Select course 4</option>');
   $('#course5').html('<option value="">Select course 5</option>');
   $('#course6').html('<option value="">Select course 6</option>');
  }
 });
});
</script>


{% endblock %}